<div class="container">
  <mat-grid-list cols="3" rowHeight="110px" gutterSize="16px">

    <mat-grid-tile colspan="2" rowspan="2">
      <mat-card class="dash-card">
        <mat-card-header>
          <mat-card-title>Latest Notes</mat-card-title>
        </mat-card-header>
        <mat-card-content class="flex jc-start">

          <mat-list role="list" class="full-width">
            <mat-list-item class="note-item full-width" *ngFor="let note of notes | slice:0:3" role="listitem">
              <div [routerLink]="['/notes']" [queryParams]="{ id: note.id }">{{ note.title }}</div>
            </mat-list-item>
          </mat-list>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dash-card">
        <mat-card-header>
          <mat-card-title>Total Users</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          {{ totalUsers | async }}
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dash-card">
        <mat-card-header>
          <mat-card-title>Time</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-live-clock timepipe="mediumTime"></app-live-clock>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dash-card">
        <mat-card-header>
          <mat-card-title>Date</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-live-clock timepipe="E, d LLL y"></app-live-clock>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dash-card">
        <mat-card-header>
          <mat-card-title>Calendar Week</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-live-clock timepipe="w"></app-live-clock>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


  </mat-grid-list>

</div>
