<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">
    <div class="logo-container"><img src="assets/img/simplecrm-logo.png"></div>
    <ul>
      <li routerLink="">Dashboard</li>
      <li routerLink="user">User</li>
      <li routerLink="notes">Notes</li>
    </ul>
  </mat-drawer>


    <mat-toolbar class="toolbar-top" color="primary">
      <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title }}</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
