<form (ngSubmit)="saveNote()" #addNoteForm="ngForm">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 mat-dialog-title>New Note</h2>
  <mat-dialog-content class="content-outline-fix">

    <div class="flex col gap-16">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" [(ngModel)]="title" [disabled]="loading" matInput placeholder="Title" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Text</mat-label>
        <textarea name="text" matInput [(ngModel)]="text" placeholder="Text" required=""></textarea>
      </mat-form-field>

      <mat-checkbox name="favorite" [(ngModel)]="isMarked" [disabled]="loading">Mark me as Favorite</mat-checkbox>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="button" mat-button (click)="closeDialog()" [disabled]="loading">Cancel</button>
    <button mat-button type="submit" [disabled]="loading" [disabled]="!addNoteForm.form.valid">Save</button>
  </mat-dialog-actions>
</form>
