<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h2 mat-dialog-title>Create new User</h2>
<mat-dialog-content class="content-outline-fix">
<img>
  <div class="flex row gap-16">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input [(ngModel)]="user.firstname" [disabled]="loading" matInput placeholder="First Name">
      <!-- <mat-hint>Please enter first name</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [(ngModel)]="user.lastname" [disabled]="loading" matInput placeholder="Last Name">
      <!-- <mat-hint>Please enter last name</mat-hint> -->
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="user.email" type="email" [disabled]="loading" matInput placeholder="Email">
      <!-- <mat-hint>Please enter last name</mat-hint> -->
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <mat-label>Birth date</mat-label>
      <input [(ngModel)]="birthDate" [disabled]="loading" matInput [matDatepicker]="picker">
      <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field  class="full-width" appearance="outline">
      <mat-label>Street & House No.</mat-label>
      <input [(ngModel)]="user.street" [disabled]="loading" matInput placeholder="Street & House No.">
      <!-- <mat-hint>Please enter last name</mat-hint> -->
    </mat-form-field>
  </div>

  <div  class="flex row gap-16">
    <mat-form-field appearance="outline">
      <mat-label>Zipcode</mat-label>
      <input [(ngModel)]="user.zipcode" type="number" [disabled]="loading" matInput placeholder="Zipcode">
      <!-- <mat-hint>Please enter last name</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input [(ngModel)]="user.city" [disabled]="loading" matInput placeholder="City">
      <!-- <mat-hint>Please enter last name</mat-hint> -->
    </mat-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()" [disabled]="loading">Cancel</button>
  <button mat-button (click)="saveUser()" [disabled]="loading" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
