<mat-accordion>
  <mat-expansion-panel *ngFor="let note of notes">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ note.title }}
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ note.text }}</p>
    <mat-action-row>
      <button mat-button >Edit</button>
      <button mat-button color="warn">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>


<button (click)="openDialog()" class="btn-add-note" mat-fab color="primary" matTooltip="Create a new Note"
  matTooltipPosition="above" matTooltipHideDelay="100000">
  <mat-icon>add</mat-icon>
</button>
